<div class="highlighted-package">
  <h1>{{ section.settings.header }}</h1>
  {% if section.settings["price__non-member"] != blank or section.settings["price__member"] != blank %}
  <div class="package__prices">
    {% if section.settings["price__non-member"] != blank %}
    <div>
      <span><b>NON-MEMBER</b></span>
      ${{ section.settings["price__non-member"] }}/month
    </div>
    {% endif %}
    {% if section.settings["price__member"] != blank %}
    <div>
      <span><b>MEMBER</b></span>
      ${{ section.settings["price__member"] }}/month
    </div>
    {% endif %}
  </div>
  {% endif %}

  <div style="display: flex;align-items: center;">
    <div style="border-top: 1px solid #DFB67A;width: 38px;flex-shrink: 1;display: block;"></div>
  </div>

  <div class="package__description">
    {{ section.settings.description }}
  </div>
  <a href="{{ section.settings["book-now"] }}" target="_blank">BOOK NOW</a>
</div>


        

{% schema %}
  {
    "name": "Highlighted Package",
    "settings": [
      {
        "type": "text",
        "id": "header",
        "label": "Header"
      },
      {
        "type": "number",
        "id": "price__non-member",
        "label": "Price Non-Member"
      },
      {
        "type": "number",
        "id": "price__member",
        "label": "Price Member"
      },
      {
        "type": "textarea",
        "id": "description",
        "label": "Description"
      },
      {
        "type": "url",
        "id": "book-now",
        "label": "Book Now URL"
      }
    ],
    "presets": [
      {
        "name": "Highlighted Package"
      }
    ]
  }
{% endschema %}

<script type="text/javascript">
function readMore(description) {
  console.log(description);
}
</script>
