{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }


{%- endstyle -%}

{% assign step = 1 %}

<div class="mega-services__container">
  <div class="left">
    {%- for block in section.blocks limit:4 -%}
      <div class="service">
        {{ step }}
        <h5>{{ block.settings.label }}</h5>
        {{ block.settings.content }}
        {% if block.settings.url != blank %}
          <a href="{{ block.settings.url }}">LEARN MORE</a>
        {% endif %}
      </div>

      {% assign step = step | plus: 1 %}
    {%- endfor -%}
  </div>

  {% if section.settings.image != blank %}
    {{ section.settings.image | media_tag }}
  {% endif %}

  <div class="right">
    {%- for block in section.blocks offset:step -%}
      <div class="service">
        {{ step }}
        <h5>{{ block.settings.label }}</h5>
        {{ block.settings.content }}
        {% if block.settings.url != blank %}
          <a href="{{ block.settings.url }}">LEARN MORE</a>
        {% endif %}
      </div>

      {% assign step = step | plus: 1 %}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Mega Services List",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Desktop Image"
    }
  ],
  "blocks": [
    {
      "type": "service",
      "name": "Service",
      "limit": 8,
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "Label"
        },
        {
          "type": "text",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        }
      ]
    }
  ]
}
{% endschema %}
