{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .mega-services__container {
    width: 100%;
    padding: 0 8%;
    display: flex;
    flex-wrap: nowrap;
    padding: 70px 0;
  }

  .mega-services__container .left,.right {
    width: 30%;
    justify-content: space-between !important;
    padding: 0 3rem;
  }

  .mega-services__container .service {
    height: 100%;
    justify-content: space-evenly;
    position: relative;
  }

  .mega-services__container .service:before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 50%;
    border-bottom: 1px solid #D0E0E0;
  }

  .mega-services__container .service:last-child:before {
    border-bottom: unset !important;
  }

  .mega-services__container .left,.right,.service {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .mega-services__container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    width: 40%;
    border-top-right-radius: 60px !important;
    box-shadow: -40px 50px rgb(125 125 125 / 20%);
    margin-left: 40px;
  }

  .mega-services__container h5 {
    text-align: center;
    color: #77A5BE;
    font-family: "Antic Didone", Sans-serif;
    font-size: 27px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
  }

  .mega-services__container span {
    text-align: center;
    color: #54595F;
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.2px;
  }

  .mega-services__container a, .mega-services__container a:hover, .mega-services__container a:visited {
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 28px;
    letter-spacing: 0.3px;
    fill: #DFB67A;
    color: #DFB67A;
    text-decoration: none;
    margin: 0;
  }


{%- endstyle -%}

{% assign step = 1 %}

<div class="mega-services__container">
  <div class="left" data-aos="fade-right" data-aos-easing="ease-in-sine">
    {%- for block in section.blocks limit:4 -%}
      <div class="service">
        <h5>0{{ step }}<br />{{ block.settings.label }}</h5>
        <span>{{ block.settings.content }}</span>
        {% if block.settings.url != blank %}
          <a href="{{ block.settings.url }}">LEARN MORE</a>
        {% endif %}
      </div>

      {% assign step = step | plus: 1 %}
    {%- endfor -%}
  </div>

  {% if section.settings.image != blank %}
    <img src="{{ section.settings.image | img_url: "master" }}" loading="lazy" alt="services" data-aos="fade" data-aos-duration="5000" />
  {% endif %}

  <div class="right" data-aos="fade-left" data-aos-easing="ease-in-sine">
    {%- for block in section.blocks offset:4 -%}
      <div class="service">
        <h5>0{{ step }}<br />{{ block.settings.label }}</h5>
        <span>{{ block.settings.content }}</span>
        {% if block.settings.url != blank %}
          <a href="{{ block.settings.url }}">LEARN MORE</a>
        {% endif %}
      </div>

      {% assign step = step | plus: 1 %}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Mega Services List",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Desktop Image"
    }
  ],
  "blocks": [
    {
      "type": "service",
      "name": "Service",
      "limit": 8,
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "Label"
        },
        {
          "type": "text",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        }
      ]
    }
  ]
}
{% endschema %}
