{% style %}

  .membership__container {
    background-color: #DCEBF0;
    border-top-left-radius: 60px !important;
    display: flex;
    position: relative;
    width: 92%;
    margin: 0 auto;
  }

  .membership__container img {
    height: 100%;
    width: 50%;
    border-top-left-radius: 60px !important;
  }

  .membership__container h5 {
    color: #DFB67A;
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 28px;
    margin: 0;
  }

  .membership__container h3 {
    color: #77A5BE;
    font-family: "Antic Didone", Sans-serif;
    font-size: 36px;
    line-height: 1.16em;
  }

  .membership__container .content {
    position: absolute;
    right: 1rem;
    top: 1rem;
    height: calc(100% - 2rem);
    display: flex;
    flex-direction: column;
    width: 40%;
    min-width: 300px;
    background-color: white;
    padding: 55px 40px 55px 40px;
    gap: {{ section.settings.gap }}rem;
  }

  .membership__container .content .links {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 28px;
    letter-spacing: 0.3px;
    fill: #DFB67A;
    color: #DFB67A;
    text-decoration: none;
  }

{% endstyle %}

<div class="membership__container">
  {% if section.settings.image != blank %}
    <img src="{{ section.settings.image | img_url: 'master' }}" loading="lazy" alt="membership" />
  {% endif %}

  <div class="content">
    <h5>{{ section.settings.heading }}</h5>
    <h3>{{ section.settings.title }}</h3>
    {{ section.settings.body }}
    {% if section.settings.signup_url != blank %}
      <a href="{{ section.settings.signup_url }}" class="button button--primary">SIGN UP</a>
    {% endif %}
    <div class="links">
      {%- for block in section.blocks -%}
        <a href="{{ block.settings.url }}" class="link-with-icon">{{ block.settings.label }}</a>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Membership",
  "tag": "section",
  "class": "section",
  "presets": [{
    "name": "Membership",
    "category": "Text"
  }],
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "SKILLED, CARING PROFESSIONALS",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "title",
      "default": "BAMFAM Membership",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "body",
      "label": "Body",
      "default": "<p>For only $100 per month, start your membership today and begin enjoying all of the benefits of becoming part of the BAMFAM! Receive monthly, complimentary BAM Signature Facial treatments, discounts on retail products, and more.</p>"
    },
    {
      "type": "url",
      "id": "signup_url",
      "label": "Signup URL"
    },
    {
      "type": "range",
      "id": "gap",
      "label": "Gap",
      "min": 0,
      "max": 50,
      "step": 0.5,
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "link",
      "name": "Link",
      "settings": [
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        },
        {
          "type": "text",
          "id": "label",
          "label": "Label"
        }
      ]
    }
  ]
}
{% endschema %}
