<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-rich-text.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}

{%- endstyle -%}

<div class="membership-pricing">
  <div class="pricing__header">
    <span>SELECT A SERVICE BELOW TO VIEW PRICING</span>
    <div class="header__selections">
      <span onclick="showPackages('aesthetic-services');">AESTHETIC SERVICES</span>
      <span onclick="showPackages('add-ons');">ADD-ON SERVICES</span>
      <span onclick="showPackages('fillers-and-neurotoxins');">FILLERS & NEUROTOXINS</span>
      <span onclick="showPackages('packages');">PACKAGES</span>
      <span onclick="showPackages('wellness-services');">WELLNESS SERVICES</span>
    </div>
  </div>

  <div class="pricing__body" data-category="aesthetic-services">
  </div>
  <div class="pricing__body" data-category="add-ons">
  </div>
  <div class="pricing__body" data-category="fillers-and-neurotoxins">
  </div>
  <div class="pricing__body" data-category="packages">
  <div class="pricing__body" data-category="wellness-services">
  </div>
</div>

<script type="text/javascript">

  const services = JSON.parse({{ section.settings.prices | json }});

  function showPackages(category) {
    const filtered__services = services.filter((service) => service["category"] === category);
    // hide divs
    Array.from(document.getElementsByClassName("pricing__body")).forEach((div) => div.style.display = "none");
    // show selected category
    const category__div = document.querySelector(`.pricing__body[data-category=${category}]`);
    console.log(category__div);
  }

  document.addEventListener("DOMContentLoaded", () => {
    // setup divs from JSON data in schema
    Array.from(document.getElementsByClassName("pricing__body")).forEach((pricing__body) => {
      const category = pricing__body.dataset["category"];
      const filtered__services = services.filter((service) => service["category"] === category);

      filtered__services.forEach((service) => {
        pricing__body.innerHTML = pricing__body.innerHTML + `
        <div class="accordion" onclick="triggerAccordion(event);">
          <div class="question">
            <h5>${service["name"]}</h5>
            <i class="fa-solid fa-chevron-down"></i>
          </div>
          <div class="answer">
            ${service["description"] ? `<p class="description">${service["description"]}</p>` : ``}
            ${service["normal"] ? `<p class="normal">${service["normal"]}</p>` : ``}
            ${service["member"] ? `<p class="member">${service["member"]}</p>` : ``}
          </div>
        </div>
      `
      });
    });

  }, false);
</script>

{% schema %}
{
  "name": "Membership Pricing",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "textarea",
      "id": "prices",
      "label": "Prices"
    }
  ],
  "presets": [
    {
      "name": "Membership Pricing"
    }
  ]
}
{% endschema %}
