<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-rich-text.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}

{%- endstyle -%}

<div class="membership-pricing">
  <div class="pricing__header">
    <span>SELECT A SERVICE BELOW TO VIEW PRICING</span>
    <div class="header__selections">
      <span>AESTHETIC SERVICES</span>
      <span>ADD-ON SERVICES</span>
      <span>FILLERS & NEUROTOXINS</span>
      <span>PACKAGES</span>
      <span>WELLNESS SERVICES</span>
    </div>
  </div>

  {% assign services = section.settings.prices | json %}
  <span>{{ services[0]["name"] }}</span>
  <div class="pricing__body" data-category="aesthetic-services">
    {% for service in services %}
    <p>{{ service["name"] }}</p>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Membership Pricing",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "textarea",
      "id": "prices",
      "label": "Prices"
    }
  ],
  "presets": [
    {
      "name": "Membership Pricing"
    }
  ]
}
{% endschema %}
