{% style %}

.members {
  padding: 0% 8% 0% 8%;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.member {
  display: flex;
  width: 100%;
  gap: 10rem;
}

.member .profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.member .credentials {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.member h5 {
  font-family: "Antic Didone", Sans-serif;
  font-size: 26px;
  color: #77A5BE;
  margin: 0 !important;
}

.member .profile-container button {
  display: none;
  border: none;
  outline: none;
  border-radius: 0;
  background: none;
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 28px;
  fill: #54595F;
  color: #54595F;
}

@media screen and (max-width: 750px) {
  .member .credentials {
    display: none !important;
  }

  .member {
    justify-content: center;
    align-items: center;
  }

  .member .profile-container button {
    display: block;
  }
}

{% endstyle %}

<div class="members">
  {% for block in section.blocks %}
  <div class="member">
    <div class="profile-container" data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-duration="1000">
      <div class="avatar">
        <img src="{{ block.settings.avatar | img_url: 'master' }}" loading="lazy" alt="{{ block.settings.name }} profile image" />
      </div>
      <h5><b>{{ block.settings.name }}</b></h5>
      <button type="button" data-micromodal-trigger="modal-{{ forloop.index0 }}">READ MORE <i class="fa-solid fa-arrow-right"></i></button>
    </div>

    <div class="credentials" data-aos="fade-left" data-aos-easing="ease-in-out" data-aos-duration="1000">
      <h5>{{ block.settings.position }}</h5>
      <div>
        {{ block.settings.description }}
      </div>
    </div>
  </div>

  <div class="modal micromodal-slide" id="modal-{{ forloop.index0 }}" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="{{ block.settings.name }}">
         <div class="credentials" data-aos="fade-left" data-aos-easing="ease-in-out" data-aos-duration="1000">
            <h5>{{ block.settings.position }}</h5>
            <div>
              {{ block.settings.description }}
            </div>
         </div>
      </div>
    </div>
  </div>
  
  {% endfor %}
</div>


        

{% schema %}
  {
    "name": "Team Members",
    "settings": [
      
    ],
    "blocks": [
      {
        "type": "member",
        "name": "Member",
        "settings": [
          {
            "type": "image_picker",
            "id": "avatar",
            "label": "Profile Image"
          },
          {
            "type": "text",
            "id": "name",
            "label": "Name"
          },
          {
            "type": "text",
            "id": "position",
            "label": "Position"
          },
          {
            "type": "richtext",
            "id": "description",
            "label": "Description"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Team Members"
      }
    ]
  }
{% endschema %}

<script type="text/javascript">
function readMore(description) {
  console.log(description);
}
</script>
