{% style %}

  #shopify-section-{{ section.id }} {
    display: flex;
    justify-content: {{ section.settings.justifyContent }};
    align-items: {{ section.settings.alignItems }};
    gap: {{ section.settings.gap }}rem;
    width: clamp({{ section.settings.minWidth }}px, {{ section.settings.width }}%, {{ section.settings.maxWidth }}px);
    flex-wrap: {{ section.settings.wrap }};
    margin: 0 auto;
  }

  #shopify-section-{{ section.id }} > *:first-child {
    flex-basis: {{ section.settings.widthFirstChild }}%;

    {% if section.settings.minWidthFirstChild != blank %}
    min-width: {{ section.settings.minWidthFirstChild }}px;
    {% endif %}
  }

  #shopify-section-{{ section.id }} > *:last-child {
    flex-basis: {{ section.settings.widthLastChild }}%;

    {% if section.settings.minWidthLastChild != blank %}
      min-width: {{ section.settings.minWidthLastChild }}px;
    {% endif %}
  }

{% endstyle %}

<span style="display: none;"></span>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', () => {
    const sectionId = {{ section.id | json }};
    const sectionElem = document.getElementById(`shopify-section-${sectionId}`);
    const nextElem = sectionElem.nextElementSibling;
    const nextNextElem = nextElem.nextElementSibling;

    sectionElem.insertAdjacentHTML("afterbegin", nextElem.outerHTML);
    sectionElem.insertAdjacentHTML("beforeend", nextNextElem.outerHTML);

    nextElem.remove();
    nextNextElem.remove();
  }, false);
</script>

{% schema %}
{
  "name": "Two column",
  "settings": [
    {
      "type": "select",
      "id": "justifyContent",
      "label": "Justify Content",
      "options": [
        {
          "value": "flex-start",
          "label": "Start"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "flex-end",
          "label": "End"
        },
        {
          "value": "space-around",
          "label": "Space-Around"
        },
        {
          "value": "space-between",
          "label": "Space-Between"
        },
        {
          "value": "space-evenly",
          "label": "Space-Evenly"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "alignItems",
      "label": "Align Items",
      "options": [
        {
          "value": "flex-start",
          "label": "Start"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "flex-end",
          "label": "End"
        }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "gap",
      "label": "Gap",
      "min": 0,
      "max": 50,
      "step": 0.5,
      "unit": "rem",
      "default": 2
    },
    {
      "type": "number",
      "id": "minWidth",
      "label": "Min Width",
      "default": 300
    },
    {
      "type": "range",
      "id": "width",
      "label": "Width",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 50
    },
    {
      "type": "number",
      "id": "maxWidth",
      "label": "Max Width",
      "default": 1500
    },
    {
      "type": "select",
      "id": "wrap",
      "label": "Wrap",
      "options": [
      {
        "value": "wrap",
        "label": "Yes"
      },
      {
        "value": "nowrap",
        "label": "No"
      }
      ],
      "default": "wrap"
    },
    {
      "type": "number",
      "id": "minWidthFirstChild",
      "label": "Min Width First Element",
      "info": "In pixels.",
      "default": 300
    },
    {
      "type": "range",
      "id": "widthFirstChild",
      "label": "Width First Element",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 50
    },
    {
      "type": "number",
      "id": "minWidthLastChild",
      "label": "Min Width Last Element",
      "info": "In pixels.",
      "default": 300
    },
    {
      "type": "range",
      "id": "widthLastChild",
      "label": "Width Last Element",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 50
    }
  ],
  "presets": [{
    "name": "Two column",
    "category": "Text"
  }]
}
{% endschema %}
