{%- style -%}
    .video_with_text__container {
        width: 100%;
        display: flex;
        gap: {{ section.settings.gap }}rem;
        padding: 0 8% 0 8%;
    }

    .video_with_text__container .left,.right {
        display: flex;
        flex-direction: column;
    }

    .video_with_text__container .left {
        flex-basis: 60%;
    }

    .video_with_text__container .left h5 {
        color: #DFB67A;
        font-family: "Montserrat", Sans-serif, serif;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 28px;
    }

    .video_with_text__container .left h3 {
        color: #77A5BE;
        font-family: "Antic Didone", Sans-serif, serif;
        font-size: clamp(30px, 2vw, 38px);
        line-height: 1.26em;
    }

    .video_with_text__container .left .heading-logo {
        width: 64px;
    }

    .video_with_text__container .right {
        flex-basis: 40%;
        color: #54595F;
        font-family: "Montserrat", Sans-serif, serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        padding: 4rem 0;
    }

    @media screen and (max-width: 1200px) {
        .video_with_text__container .right {
            display: none;
        }

        .video_with_text__container .left {
            flex-basis: 100%;
        }

        .video_with_text__container h3 {
            margin: 0 !important;
        }

        .video_with_text__container h5 {
            margin: 2rem 0 !important;
        }
    }

    .video_with_text__container .right video,.video_with_text__container .right img {
        max-width: 100%;
        object-fit:cover;
        min-height: 580px !important;
        border-top-right-radius: 60px !important;
        box-shadow: -40px 50px rgb(125 125 125 / 20%);
    }
{%- endstyle -%}


<div class="video_with_text__container">
    <div class="left" data-aos="fade-up">
        {% if section.settings.heading_logo != blank %}
            <img class="heading-logo" loading="lazy" src="{{ section.settings.heading_logo | img_url: "master" }}" alt="heading-logo" />
        {% endif %}
        {% if section.settings.heading != blank %}
            <h5>{{ section.settings.heading }}</h5>
        {% endif %}
        {% if section.settings.title != blank %}
            <h3>{{ section.settings.title }}</h3>
        {% endif %}
        {% if section.settings.body %}
            {{ section.settings.body }}
        {% endif %}
    </div>
    <div class="right" data-aos="fade-left">
        {% if section.settings.video_url != blank %}
            <video autoplay="" muted="" loop="" preload="auto"><source src="{{ section.settings.video_url }}" type="video/mp4"></video>
        {% endif %}
        {% if section.settings.image != blank %}
            <img src="{{ section.settings.image | image_url: 'master' }}" alt="{{ section.settings.heading }}" loading="lazy" />
        {% endif %}
    </div>
</div>

{% schema %}
{
    "name": "Video with text",
    "tag": "section",
    "class": "section",
    "presets": [{
        "name": "Video with text",
        "category": "Text"
    }],
    "settings": [
        {
            "type": "image_picker",
            "id": "heading_logo",
            "label": "Heading Logo"
        },
        {
            "type": "text",
            "id": "heading",
            "default": "OUR STORY",
            "label": "Heading"
        },
        {
            "type": "text",
            "id": "title",
            "default": "Balanced Aesthetics' Unique Model Created For You",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "body",
            "label": "Body"
        },
        {
            "type": "text",
            "id": "video_url",
            "label": "Video File URL",
            "info": "Upload video to theme files then copy link and paste here. *MUST BE MP4*"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "If using photo select one here."
        },
        {
            "type": "range",
            "id": "gap",
            "label": "Gap",
            "min": 0,
            "max": 50,
            "step": 0.5,
            "default": 20
        }
    ]
}
{% endschema %}